/* Original Surfer */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

body {
    margin: 0;
    text-align: center; 
    font-size: 20px;
    font-family: 'Original Surfer', sans-serif;
    background-color: #bced12;
    color: #4312ed;
}

.heading {
    text-transform: uppercase;
}

.listContainer {
    margin-bottom: 50px;
    background-color: white;
}

.divButton {
    margin: 0px 5px;
    background-color: red;
    border: 2px solid #4312ed;
    border-radius: 12px;
    color: #4312ed;
    padding: 4px;
    font-family: 'Original Surfer', sans-serif;
    font-size: 12px;
}

.inputBox {
    display: inline-block;
    border: 2px solid #4312ed;
    font-size: 18px;
    font-family: 'Original Surfer', sans-serif;
}

.btnAdd {
    background-color: #f5a30a;
    border-radius: 50%;
    border: 2px solid #4312ed;
    padding: 8px;
    color: #4312ed;
    font-size: 12px;
    font-family: 'Original Surfer', sans-serif;
}

.makeBlock {
    display: block;
}

.lineThrough {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

